@model IEnumerable<Web_Store.Models.Order>

@{
    ViewData["Title"] = "Zamóienia";
}

<h1>Twoje zamówienia</h1>

</br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="col-sm-10">
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
            </td>
           
        </tr>
}
    </tbody>
</table>
